
h1 {
	background-color:orange;
	}
	
h2{
	color:black;
	}
	
p{
	color:black;
	}
	
h3 {
	color:black;
	}

ul {
	border:2px solid black;
	}
	
header {
background-color:#101010;
}

header p { 
color:#ffffff;
padding:0 0 8px 0;
text-align:center;
margin:0;
padding:8px 0 8px 0;
}

header h1 a {
color:#ffffff
text-decoration:none;
}

header h1 {
margin:0;
padding:20px;
}

body{
margin:0;
}

h1,h2,h3,h4 {
font-family:sans-serif;
}

blockquote{
background-color:#cccccc;
padding:32px;
border:1px dashed #bbbbbb;
font-family:courier,serif;
}

blockquote em {
font-family:sans-serif;
}

hl a:hover {
text-decoration:underline;
background:#ffffff;
color:#000000;
}

nav {
	/* display:none; hace que se oculte el nav */
	background-color:#aaaaaa
}

nav ul {
	display:flex;
	flex-direction:row; /*row-reverse, column*/
	/*justify-content:space-around;*/ /*center es otra opcion */
	margin:0;
	padding:0;
	list-style:none; /* podemos poner urls para hacer iconos, square para cuadrados*/
	color:red;
}

nav a {
display:block;
text-decoration:none;
padding: 8px 16px 8px 16px;
color:black;
width:100%;
text-align:center;
}

nav ul li{

flex-grow:1; /* se dividen 1 a 1 */
}

nav  a:hover{
/*text-decoration:none;*/
background-color:orange;
/*width:100%;*/
}

footer {
background:radial-gradient(circle, #ffff00 0%, #ff0000 50%, #333333 100%); /*linear-gradient(45deg, */
border-top:2px solid #000000;
color:#ffffff;
padding:32px 0 8px 0;
text-align:center;
}

footer p {
	margin:0;
}


main{
	
	padding:0 32px 0 32px;
}
input[type="button"] {
    box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.5);
	 opacity: 0.8;
	 cursor: pointer;
}


