
h1 {
	background-color:orange;
	}
	
h2{
	color:red;
	}
	
p{
	color:blue;
	}
	
h3 {
	color:red;
	}
	
ul {
	border:2px dashed green;
	}
	
header {
background-color:#101010;
}

header p { 
color:#ffffff;
padding:0 0 8px 0;
text-align:center;
}

header h1 a {
color:#ffffff
text-decoration:none;
}

header h1 {
margin:0;
padding:20px;
}

body{
margin:0;
}

h1,h2,h3,h4 {
font-family:sans-serif;
}

blockquote{
background-color:#cccccc;
padding:32px;
border:1px dashed #bbbbbb;
font-family:courier,serif;
}

blockquote em {
font-family:sans-serif;
}

hl a:hover {
text-decoration:underline;
background:#ffffff;
color:#000000;
}

